#tweet {
	margin-top: 80px;
	width: 400px;
  height: 100%;
  position: relative;
}

.chip {
  display: inline-block;
  height: 100%;
  margin-top: 10px;
  margin-left: 10px;
}

#tweetUsername{

}

#tweetHandle{
 color: #828891;
}

#tweetBody{

}

#fav {
  color: #2196f3;
}

#sync {
  color: #2196f3;
}

#flag {
  color: #2196f3;
}
